
# Auto detect text files and perform LF normalization

# http://davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/

* text=auto



*.cs     diff=csharp

###############################################################################

# Set default behavior to automatically normalize line endings.

###############################################################################

* text=auto

###############################################################################
# Set default behavior for command prompt diff.
#
# This is need for earlier builds of msysgit that does not have it on by
# default for csharp files.
# Note: This is only used by command line
###############################################################################
#*.cs     diff=csharp

###############################################################################
# Set the merge driver for project and solution files

#

# Merging from the command prompt will add diff markers to the files if there

# are conflicts (Merging from VS is not affected by the settings below, in VS

# the diff markers are never inserted). Diff markers may cause the following

# file extensions to fail to load in VS. An alternative would be to treat

# these files as binary and thus will always conflict and require user

# intervention with every merge. To do so, just comment the entries below and

# uncomment the group further below

###############################################################################



*.sln        text eol=crlf

*.csproj     text eol=crlf

*.vbproj     text eol=crlf

*.vcxproj    text eol=crlf

*.vcproj     text eol=crlf

*.dbproj     text eol=crlf

*.fsproj     text eol=crlf

*.lsproj     text eol=crlf

*.wixproj    text eol=crlf

*.modelproj  text eol=crlf

*.sqlproj    text eol=crlf

*.wmaproj    text eol=crlf



*.xproj      text eol=crlf

*.props      text eol=crlf

*.filters    text eol=crlf

*.vcxitems   text eol=crlf





#*.sln       merge=binary

#*.csproj    merge=binary

#*.vbproj    merge=binary

#*.vcxproj   merge=binary

#*.vcproj    merge=binary

#*.dbproj    merge=binary

#*.fsproj    merge=binary

#*.lsproj    merge=binary

#*.wixproj   merge=binary

#*.modelproj merge=binary

#*.sqlproj   merge=binary

#*.wwaproj   merge=binary

###############################################################################
# behavior for image files
#
# image files are treated as binary by default.
###############################################################################
#*.jpg   binary
#*.png   binary
#*.gif   binary

###############################################################################
# diff behavior for common document formats
# 
# Convert binary document formats to text before diffing them. This feature
# is only available from the command line. Turn it on by uncommenting the 
# entries below.
###############################################################################
#*.doc   diff=astextplain
#*.DOC   diff=astextplain
#*.docx  diff=astextplain
#*.DOCX  diff=astextplain
#*.dot   diff=astextplain
#*.DOT   diff=astextplain
#*.pdf   diff=astextplain
#*.PDF   diff=astextplain
#*.rtf   diff=astextplain
#*.RTF   diff=astextplain


#*.xproj     merge=binary

#*.props     merge=binary

#*.filters   merge=binary

#*.vcxitems  merge=binary

## GITATTRIBUTES FOR WEB PROJECTS

#

# These settings are for any web project.

#

# Details per file setting:

#   text    These files should be normalized (i.e. convert CRLF to LF).

#   binary  These files are binary and should be left untouched.

#

# Note that binary is a macro for -text -diff.

######################################################################



## AUTO-DETECT

##   Handle line endings automatically for files detected as

##   text and leave all files detected as binary untouched.

##   This will handle all files NOT defined below.

* text=auto



## SOURCE CODE

*.bat      text eol=crlf

*.coffee   text

*.css      text

*.htm      text

*.html     text

*.inc      text

*.ini      text

*.js       text

*.json     text

*.jsx      text

*.less     text

*.od       text

*.onlydata text

*.php      text

*.pl       text

*.py       text

*.rb       text

*.sass     text

*.scm      text

*.scss     text

*.sh       text eol=lf

*.sql      text

*.styl     text

*.tag      text

*.ts       text

*.tsx      text

*.xml      text

*.xhtml    text



## DOCKER

*.dockerignore    text

Dockerfile    text



## DOCUMENTATION

*.markdown   text

*.md         text

*.mdwn       text

*.mdown      text

*.mkd        text

*.mkdn       text

*.mdtxt      text

*.mdtext     text

*.txt        text

AUTHORS      text

CHANGELOG    text

CHANGES      text

CONTRIBUTING text

COPYING      text

copyright    text

*COPYRIGHT*  text

INSTALL      text

license      text

LICENSE      text

NEWS         text

readme       text

*README*     text

TODO         text



## TEMPLATES

*.dot        text

*.ejs        text

*.haml       text

*.handlebars text

*.hbs        text

*.hbt        text

*.jade       text

*.latte      text

*.mustache   text

*.njk        text

*.phtml      text

*.tmpl       text

*.tpl        text

*.twig       text



## LINTERS

.csslintrc    text

.eslintrc     text

.htmlhintrc   text

.jscsrc       text

.jshintrc     text

.jshintignore text

.stylelintrc  text



## CONFIGS

*.bowerrc      text

*.cnf          text

*.conf         text

*.config       text

.browserslistrc    text

.editorconfig  text

.gitattributes text

.gitconfig     text

.htaccess      text

*.npmignore    text

*.yaml         text

*.yml          text

browserslist   text

Makefile       text

makefile       text



## HEROKU

Procfile    text

.slugignore text



## GRAPHICS

*.ai   binary

*.bmp  binary

*.eps  binary

*.gif  binary

*.ico  binary

*.jng  binary

*.jp2  binary

*.jpg  binary

*.jpeg binary

*.jpx  binary

*.jxr  binary

*.pdf  binary

*.png  binary

*.psb  binary

*.psd  binary

*.svg  text

*.svgz binary

*.tif  binary

*.tiff binary

*.wbmp binary

*.webp binary



## AUDIO

*.kar  binary

*.m4a  binary

*.mid  binary

*.midi binary

*.mp3  binary

*.ogg  binary

*.ra   binary



## VIDEO

*.3gpp binary

*.3gp  binary

*.as   binary

*.asf  binary

*.asx  binary

*.fla  binary

*.flv  binary

*.m4v  binary

*.mng  binary

*.mov  binary

*.mp4  binary

*.mpeg binary

*.mpg  binary

*.ogv  binary

*.swc  binary

*.swf  binary

*.webm binary



## ARCHIVES

*.7z  binary

*.gz  binary

*.jar binary

*.rar binary

*.tar binary

*.zip binary



## FONTS

*.ttf   binary

*.eot   binary

*.otf   binary

*.woff  binary

*.woff2 binary



## EXECUTABLES

*.exe binary

*.pyc binary
