@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    ViewData["Description"] = $"Sign in to the website";
}

@section head {
    <link rel="stylesheet" href="/css/login.scss" />
}

<form method="post" id="login" aria-labelledby="legend" asp-route-returnUrl="@ViewData["ReturnUrl"]">
    <div asp-validation-summary="All"></div>
    <fieldset>
        <legend id="legend">Sign in</legend>

        <input asp-for="UserName" aria-label="Username" autofocus required placeholder="Username" />
        <input asp-for="Password" aria-label="Password" required placeholder="Password" />

        <input asp-for="RememberMe" />
        <label asp-for="RememberMe">Remember me</label>

        <input type="submit" value="Sign in" />
    </fieldset>
</form>