@model string
@{
    string currentUrl = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}";
    string enc = System.Net.WebUtility.UrlEncode(currentUrl);
    string text = System.Net.WebUtility.UrlEncode(Model);
}
<aside class="socialsharing">
    <a href="https://www.facebook.com/sharer/sharer.php?u=@enc" target="_blank" rel="noopener noreferrer nofollow">
        <svg role="img" aria-labelledby="_fb">
            <title id="_fb">Share on Facebook</title>
            <path d="M 4.679688 2.078125 C 3.25 2.078125 2.078125 3.25 2.078125 4.679688 L 2.078125 21.320312 C 2.078125 22.75 3.25 23.921875 4.679688 23.921875 L 13.433594 23.921875 C 13.488281 23.929688 13.546875 23.929688 13.601562 23.921875 L 16.550781 23.921875 C 16.609375 23.929688 16.667969 23.929688 16.722656 23.921875 L 21.320312 23.921875 C 22.75 23.921875 23.921875 22.75 23.921875 21.320312 L 23.921875 4.679688 C 23.921875 3.25 22.75 2.078125 21.320312 2.078125 Z M 4.679688 3.121094 L 21.320312 3.121094 C 22.1875 3.121094 22.878906 3.8125 22.878906 4.679688 L 22.878906 21.320312 C 22.878906 22.1875 22.1875 22.878906 21.320312 22.878906 L 17.160156 22.878906 L 17.160156 15.601562 L 19.148438 15.601562 L 19.875 11.960938 L 17.160156 11.960938 L 17.160156 10.921875 C 17.160156 10.628906 17.1875 10.609375 17.285156 10.542969 C 17.382812 10.480469 17.683594 10.398438 18.199219 10.398438 L 19.761719 10.398438 L 19.761719 7.472656 L 19.464844 7.332031 C 19.464844 7.332031 18.269531 6.761719 16.640625 6.761719 C 15.46875 6.761719 14.507812 7.226562 13.894531 7.996094 C 13.277344 8.765625 13 9.792969 13 10.921875 L 13 11.960938 L 11.441406 11.960938 L 11.441406 15.601562 L 13 15.601562 L 13 22.878906 L 4.679688 22.878906 C 3.8125 22.878906 3.121094 22.1875 3.121094 21.320312 L 3.121094 4.679688 C 3.121094 3.8125 3.8125 3.121094 4.679688 3.121094 Z M 16.640625 7.800781 C 17.722656 7.800781 18.402344 8.039062 18.71875 8.164062 L 18.71875 9.359375 L 18.199219 9.359375 C 17.601562 9.359375 17.121094 9.410156 16.71875 9.671875 C 16.3125 9.933594 16.121094 10.433594 16.121094 10.921875 L 16.121094 13 L 18.605469 13 L 18.292969 14.558594 L 16.121094 14.558594 L 16.121094 22.878906 L 14.039062 22.878906 L 14.039062 14.558594 L 12.480469 14.558594 L 12.480469 13 L 14.039062 13 L 14.039062 10.921875 C 14.039062 9.964844 14.28125 9.175781 14.707031 8.644531 C 15.132812 8.113281 15.730469 7.800781 16.640625 7.800781 Z M 16.640625 7.800781 "></path>
        </svg>
    </a>
    <a href="https://twitter.com/intent/tweet?url=@enc&text=@text" target="_blank" rel="noopener noreferrer nofollow">
        <svg role="img" aria-labelledby="_tw">
            <title id="_tw">Share on Twitter</title>
            <path d="M26.37,26l-8.795-12.822l0.015,0.012L25.52,4h-2.65l-6.46,7.48L11.28,4H4.33l8.211,11.971L12.54,15.97L3.88,26h2.65 l7.182-8.322L19.42,26H26.37z M10.23,6l12.34,18h-2.1L8.12,6H10.23z" />
        </svg>
    </a>
    <a href="mailto:?subject=@Model.Replace(Constants.Space, "%20")&amp;body=@enc" target="_blank" rel="noopener noreferrer nofollow">
        <svg role="img" aria-labelledby="_em">
            <title id="_em">Email</title>
            <path d="M 25.9375 5.605469 C 25.828125 5.058594 25.585938 4.542969 25.230469 4.109375 C 25.15625 4.015625 25.082031 3.9375 25 3.855469 C 24.367188 3.21875 23.488281 2.851562 22.585938 2.851562 L 3.414062 2.851562 C 2.503906 2.851562 1.644531 3.207031 1 3.855469 C 0.917969 3.9375 0.84375 4.015625 0.769531 4.113281 C 0.414062 4.542969 0.171875 5.058594 0.0664062 5.605469 C 0.0234375 5.820312 0 6.042969 0 6.269531 L 0 19.730469 C 0 20.199219 0.09375 20.65625 0.285156 21.089844 C 0.445312 21.476562 0.695312 21.839844 1 22.144531 C 1.078125 22.222656 1.152344 22.292969 1.234375 22.363281 C 1.847656 22.867188 2.621094 23.148438 3.414062 23.148438 L 22.585938 23.148438 C 23.382812 23.148438 24.15625 22.867188 24.765625 22.355469 C 24.847656 22.289062 24.925781 22.222656 25 22.144531 C 25.296875 21.851562 25.53125 21.511719 25.699219 21.136719 L 25.722656 21.085938 C 25.90625 20.660156 26 20.203125 26 19.730469 L 26 6.269531 C 26 6.046875 25.980469 5.820312 25.9375 5.605469 Z M 1.769531 5.03125 C 1.816406 4.960938 1.878906 4.890625 1.957031 4.808594 C 2.347656 4.417969 2.863281 4.207031 3.414062 4.207031 L 22.585938 4.207031 C 23.140625 4.207031 23.65625 4.421875 24.042969 4.8125 C 24.109375 4.878906 24.175781 4.953125 24.230469 5.027344 L 24.375 5.226562 L 14.144531 14.144531 C 13.828125 14.417969 13.421875 14.570312 13 14.570312 C 12.582031 14.570312 12.175781 14.417969 11.855469 14.144531 L 1.632812 5.226562 Z M 1.359375 19.851562 C 1.351562 19.8125 1.351562 19.773438 1.351562 19.730469 L 1.351562 6.546875 L 9.292969 13.472656 L 1.433594 20.328125 Z M 23.609375 21.523438 C 23.300781 21.699219 22.945312 21.792969 22.585938 21.792969 L 3.414062 21.792969 C 3.054688 21.792969 2.699219 21.699219 2.390625 21.523438 L 2.070312 21.335938 L 10.191406 14.257812 L 11.082031 15.035156 C 11.617188 15.496094 12.296875 15.753906 13 15.753906 C 13.707031 15.753906 14.386719 15.496094 14.921875 15.035156 L 15.8125 14.257812 L 23.929688 21.335938 Z M 24.648438 19.730469 C 24.648438 19.773438 24.648438 19.8125 24.640625 19.847656 L 24.570312 20.332031 L 16.707031 13.476562 L 24.648438 6.550781 Z M 24.648438 19.730469" />
        </svg>
    </a>
</aside>
