@model IEnumerable<Post>
@inject IOptionsSnapshot<BlogSettings> settings
@{
    int currentPage = int.Parse(ViewContext.RouteData.Values["page"] as string ?? "0");
}

@foreach (var post in Model)
{
    await Html.RenderPartialAsync("post.cshtml", post);
}

<nav class="pagination container" aria-label="Pagination">
    <a asp-if="Model.Any()" rel="prev" href="@ViewData["prev"]" title="Older posts">← Older</a>
    <a asp-if="currentPage > 0" rel="next" href="@ViewData["next"]" title="Newer posts">Newer →</a>
    <br /><br />

    @section Head {
        <link asp-if="Model.Any()" rel="prev" href="@ViewData["prev"]" />
        <link asp-if="currentPage > 0" rel="next" href="@ViewData["next"]" />
    }
</nav>

@{await Html.RenderPartialAsync("_SocialSharing", ViewData["Title"]);}