$footer_height: 150px;
$link_color: #0070be;
$text_color: #222;

// Comments
$comments_bg_color: #f1f1f1;
$comments_border-color: #dfdfdf;
$comments_input_border-color: #bbb;
$comments_highlight_color: #ffec82;