@import "variables";

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    position: relative;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
    font: 18px/1.5 "Open Sans", Ubuntu, "Nimbus Sans L", Avenir, AvenirNext, "Segoe UI", Helvetica, Arial, sans-serif;
    margin: 0 0 $footer_height 0;
    color: $text_color;
}

.container {
    max-width: 750px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.siteheader {
    background: linear-gradient(to bottom, $comments_bg_color, #fff);
    text-align: right;
    padding: .8em 1.5em 2em 1.5em;

    p {
        font-size: 2em;
    }

    a {
        color: $text_color;
        text-decoration: none;
    }
}

a {
    color: $link_color;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

ul, ol {
    padding-left: 2em;
}

.post {
    word-wrap: break-word;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    padding-bottom: 2em;

    header {
        time {
            color: lighten($text_color, 33%);
        }

        h1 {
            margin: .2em 0;
            line-height: 1;
            font-size: 2.5em;
            font-weight: lighter;

            a {
                color: $text_color;
                text-decoration: none;
            }
        }
    }

    > div {
        text-align: justify;

        p {
            margin: 1em 0;
        }

        blockquote {
            border-top: 1px dotted lighten($text_color, 50%);
            border-bottom: 1px dotted lighten($text_color, 50%);
            color: lighten($text_color, 30%);
            font-size: 1.3em;
            width: 90%;
            margin: 1.5em auto;
            font-style: italic;
            font-weight: lighter;

            p {
                margin: 1em .5em;
            }
        }

        h2, h3, h4, h5, h6 {
            margin: 1em 0 -.5em 0;
        }

        h2 {
            font-size: 1.6em;
        }

        h3 {
            font-size: 1.4em;
        }

        h4 {
            font-size: 1.2em;
        }

        img {
            padding: .5em;
        }
    }

    > footer {
        font-style: italic;
    }

    .categories {
        list-style: none;
        display: inline;
        padding: 0;

        li {
            display: inline-block;

            &:not(:first-child):not(:last-child):after {
                content: ", ";
            }
        }
    }
}
