#edit {
    .label {
        display: inline-block;
        margin-top: 1em;
        font-weight: bold;
        width: 50px;
    }

    input {
        font: inherit;

        &[type=text] {
            border-radius: 3px;
            border: 1px solid #bbb;
            padding: 4px 10px;
            width: 100%;
            max-width: 300px;
        }
    }

    textarea {
        font: inherit;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 3px;
        border: 1px solid #bbb;
        padding: 5px;
        width: 100%;
    }

    .delete{
        float: right;
        color: crimson;
        border: 0;
        background: none;
        cursor: pointer;
    }
}

.validation-summary-errors{
    background: #ffe6e6;
    color: darkred;
    padding: 5px;
    border-radius: 5px;

    ul{
        /*list-style: none;*/
        /*padding: 0;*/
        margin: 0;
    }
}