$bg_color: #f1f1f1;
$border-color: #bbb;
$border-color_admin: #0078cb;
$bg_new_comment_color: #ffe44e;

#comments {
    background: #f7f7f7;
    padding: 1.3em 0;

    h2{
        padding: 0;
        margin-top: 0;
    }

    form {
        margin-top: 2em;
    }

    label {
        display: block;
        font-weight: bold;
        margin-top: 1em;

        span {
            font-weight: normal;
        }
    }

    input,
    textarea {
        font: inherit;
        border: 1px solid $border-color;
        padding: 5px 0;
        width: 100%;
    }

    input {
        max-width: 400px;
        text-indent: 5px;

        &[type=submit] {
            width: auto;
            margin: 1em 0;
            padding: 5px 10px;
        }
    }

    textarea {
        padding: 5px;
    }

    article {
        background: $bg_color;
        border: 1px solid $border-color;
        padding: 7px 1em;
        margin-bottom: 1em;

        p {
            margin: 9px 0;
        }

        &.admin {
            border: 1px solid $border-color_admin;
        }
    }

    span {
        font-size: .8em;
        font-weight: bold;
    }

    time {
        float: right;
        font-size: .7em;
        font-weight: normal;
        margin: 5px 0 0 0;
    }

    :target {
        animation: target 3s ease-in-out;
    }
}

@keyframes target {
    from {
        background-color: $bg_new_comment_color;
    }

    to {
        background-color: $bg_color;
    }
}
