#comments {

    fieldset {
        padding: 0;
        border: none;
    }

    legend {
        display: none
    }

    label {
        display: block;
        font-weight: bold;
        margin-top: 1em;

        span {
            font-weight: normal;
        }
    }

    input,
    textarea {
        font: inherit;
        border: 1px solid gray;
        border-radius: 3px;
        padding: 5px 0;
        width: 100%;
        text-indent: 5px;
    }

    input[type=submit] {
        width: auto;
        margin: 1em 0;
        display: block;
        padding: 5px 10px;
    }

    article {
        background: #dff0f5;
        border-radius: 6px;
        padding: 7px 1em;
        margin-bottom: 1em;

        p {
            margin: 9px 0;
        }

        &.admin {
            background: #f7f7f7;
        }
    }

    span {
        font-size: .8em;
        font-weight: bold;
    }

    time {
        float: right;
        font-size: .7em;
        font-weight: normal;
        margin: 5px 0 0 0;
    }

    form {
        margin-top: 2em;
    }
}
