@import "variables";

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    position: relative;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
    font: 19px/1.6 "Open Sans", Ubuntu, "Nimbus Sans L", Avenir, AvenirNext, "Segoe UI", Helvetica, Arial, sans-serif;
    margin-bottom: $footer_height;
    color: $text_color;
}

.container {
    max-width: 750px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.siteheader {
    text-align: right;
    padding: .8em 1.5em 2em 1.5em;

    p {
        font-size: 2em;
    }

    a {
        color: $text_color;
        text-decoration: none;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

main {
    animation: fade-in 1s ease;
}

b, strong {
    font-weight: 600;
}

a {
    color: $link_color;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

img, iframe {
    max-width: 100%;
}

img {
    height: auto;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

ul, ol {
    padding-left: 2em;
}

time {
    color: lighten($text_color, 25%);
    font-size: .85em;
}

.post {
    padding-bottom: 2em;

    header {
        h1 {
            margin: .2em 0;
            line-height: 1.3;
            font-size: 2.5em;
            font-weight: lighter;

            a {
                color: $text_color;
                text-decoration: none;
            }
        }
    }

    > div {
        p {
            margin: 1em 0;
            word-wrap: break-word;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
        }

        img {
            padding: .5em;
        }

        ul {
            list-style: none;
            text-indent: -1em;

            li:before {
                content: "\0BB \020";
                opacity: .5;
                margin-right: .3em;
            }
        }
    }

    > footer {
        border-top: 1px solid $comments_border-color;
        padding-top: .5em;
        clear: both; // In case there are any floating elements in the post content
    }

    h2, h3, h4, h5, h6 {
        margin: 1em 0 -.5em 0;
    }

    blockquote {
        border-top: 1px solid $comments_border-color;
        border-bottom: 1px solid $comments_border-color;
        color: lighten($text_color, 30%);
        font-size: 1.3em;
        width: 90%;
        margin: 1.5em auto;
        font-style: italic;
        font-weight: lighter;

        p {
            margin: 1em .5em;
        }
    }

    pre {
        font-size: .9em;
        line-height: 1.3;
        overflow: auto;
        padding: 5px 10px;
        -ms-word-wrap: normal;
        word-wrap: normal;
        background: $light-bg-color;
        box-shadow: 5px 5px 5px $comments_border-color;
    }

    code {
        background: $light-bg-color;
        font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    }

    table {
        font-size: .9em;
        border-collapse: collapse;
        font-variant-numeric: lining-nums tabular-nums;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    tr:nth-child(2n) {
        background: $light-bg-color;
    }

    th {
        border-bottom: 1px solid $comments_border-color;
        text-align: left;
    }

    td, th {
        padding: 2px 7px;
    }
}

#search {
    padding-bottom: 2em;

    .label {
        display: inline-block;
        margin-right: .3em;
        font-weight: bold;
        min-width: 50px;
    }

    input {
        font: inherit;

        &[type=text] {
            border-radius: 3px;
            border: 1px solid #bbb;
            padding: 4px 10px;
            width: 100%;
            max-width: 400px;
        }

        &[type=submit] {
            padding: 0 10px;
        }
    }

    input.button-search {
        background-image: url(/img/search.svg);
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 0px 0px;
        border: none;
        cursor: pointer;
        height: 30px;
        vertical-align: middle;
        margin-left: -25px;
    }

    input + span,
    textarea + span {
        display: block;
        font-size: .9em,;
        color: #888;
    }
}

/* Container */
.container {
    .row .tag {
        display: inline;
        line-height: 25px;
    }

    .row a {
        text-decoration: none;
    }
}

.smallestTag {
    font-size: 1.0em;
}

.smallTag {
    font-size: 1.1em;
}

.mediumTag {
    font-size: 1.3em;
}

.largeTag {
    font-size: 1.6em;
}

.largestTag {
    font-size: 2.1em;
}

/* Calendar */
#calendar {
    .month {
        padding: 25px 25px;
        width: 100%;
        background: #bbb;
        text-align: center;
    }

    .month ul {
        margin: 0;
        padding: 0;
    }

    .month ul li {
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
        list-style-type: none;
    }

    .month .prev {
        float: left;
        padding-top: 10px;

        a {
            text-decoration: none;
            color: white;
        }
    }

    .month .next {
        float: right;
        padding-top: 10px;

        a {
            text-decoration: none;
            color: white;
        }
    }

    .month .center a {
        text-decoration: none;
        color: white;
    }

    .weekdays {
        margin: 0;
        padding: 10px 0;
        background-color: #ddd;
    }

    .weekdays li {
        display: inline-block;
        width: 13.6%;
        color: #666;
        text-align: center;
    }

    .days {
        padding: 10px 0;
        background: #eee;
        margin: 0;
    }

    .days li {
        list-style-type: none;
        display: inline-block;
        width: 13.6%;
        text-align: center;
        margin-bottom: 5px;
        font-size: 12px;
        color: #777;
    }

    .days li .active a {
        padding: 5px;
        background: #bbb;
        color: white !important;
    }
    /* Add media queries for smaller screens */
    @media screen and (max-width:720px) {
        .weekdays li, .days li {
            width: 13.1%;
        }
    }

    @media screen and (max-width: 420px) {
        .weekdays li, .days li {
            width: 12.5%;
        }

        .days li .active {
            padding: 2px;
        }
    }

    @media screen and (max-width: 290px) {
        .weekdays li, .days li {
            width: 12.2%;
        }
    }
}